@using _1988216.MVC.Models;
@using _1988216.MVC.Controllers;
@using _1988216.MVC.Core;
@{
    Layout = "~/MVC/Views/_Layout.cshtml";
    Page.Title = "Danh sách hóa đơn bán hàng";

    // Redirect if user read directly the file in the MVC Folder
    Lib lib = new Lib();
    Consts consts = new Consts(); // Text Const

    if (!lib.isValidUrl())
    {
        Response.Redirect("/?c=dshoadonbanhang");
    }

    C_HoaDonBanHang c_HoaDonBanHang = new C_HoaDonBanHang();
    List<HoaDonBanHang> listHoaDonBanHang = c_HoaDonBanHang.getHoaDonBanHang();

    string mess = String.Empty;

    if (IsPost)
    {
        @*		if (Request["act"] == "delete")
            {
                mess = "Xoa " + Request["idOfProductToDelete"];
                c_MatHang.deleteProduct(int.Parse(Request["idOfProductToDelete"]));

                Response.Redirect("/?c=dsmathang");
            }*@

    if (Request["act"] == "timkiem")
    {
        listHoaDonBanHang = c_HoaDonBanHang.searchBillOfSale(Request["searchType"], Request["keyword"]);
    }
}

    @*IEnumerable<MatHang> list2 = listMatHang.Where(item => item.Id > 1);*@
}

<main>
    <div class="container-fluid">
        <!-- Section: Hoverable -->
        <section>
            <div class="card pl-5 py-2 mb-5">
                <form class="form-inline" id="frm-search" method="post" action="/?c=dshoadonbanhang&act=timkiem">
                    <div class="md-form my-0">
                        <input class="form-control mr-sm-2" type="text" name="keyword" id="keyword" placeholder="Nhập từ khóa vào đây" aria-label="Search" required oninput="this.setCustomValidity('')" oninvalid="this.setCustomValidity('Nhập từ khóa tìm kiếm')">
                        <b>Tìm kiếm theo: </b>
                        <select class="browser-default custom-select" name="searchType" id="searchType" style="display: inline!important; font-family: inherit">
                            <option value="stype_maHoaDonBanHang">Mã hóa đơn bán hàng</option>
                            <option value="stype_customerName">Tên khách hàng</option>
                            <option value="stype_paymentMethod">Hình thức thanh toán</option>
                        </select>
                        <button class="btn btn-outline-black btn-sm" id="dark-mode">Tìm kiếm</button>
                    </div>
                </form>
                <div id="tip" class="text-success small-text"><b></b></div>
            </div>

            @{
                if (Request["act"] == "timkiem")
                {
                    <a href="/?c=dshoadonbanhang" class="btn btn-secondary waves-effect waves-light">Load lại đầy đủ dữ liệu</a>
                }
            }


            <div class="card card-cascade">
                <div class="view view-cascade gradient-card-header blue-gradient">
                    <h2 class="h2-responsive mb-0 font-weight-500">Danh sách hóa đơn bán hàng</h2>
                </div>
                <div class="card-body">
                    <div class="text-primary">
                        Có thể click vào <b>Tên khách hàng</b> để xem chi tiết hóa đơn.
                    </div>
                    <!-- Table -->
                    <table class="table table-hover" id="tableMatHang">

                        <!-- Table head -->
                        <thead class="mdb-color darken-3">
                            <tr class="text-white">
                                <th>Mã hóa đơn</th>
                                <th>Tên khách hàng</th>
                                <th>Địa chỉ giao hàng</th>
                                <th>Số điện thoại</th>
                                <th>Hình thức thanh toán</th>
                                <th>Tổng bill</th>
                                <th>Số lượng hàng mua</th>
                                <th>Phí ship</th>
                                <th>Thao tác</th>
                            </tr>
                        </thead>
                        <!-- Table head -->
                        <!-- Table body -->
                        <tbody>
                            @foreach (HoaDonBanHang hd in listHoaDonBanHang)
                            {
                                <tr>
                                    <th scope="row">@hd.Id</th>
                                    <td><a href="/?c=chitiethoadonbanhang&hdId=@hd.Id" data-toggle="tooltip" title="Click vào để xem chi tiết hóa đơn của khách hàng @hd.CustomerName">@hd.CustomerName</a></td>
                                    <td>@hd.BillingAddress</td>
                                    <td>@hd.Phone</td>
                                    <td style="display:flex; justify-content: center;"><img src="~/public/img/@Html.Raw(hd.PaymentMethod+".png")" height="30" /></td>
                                    <td>@String.Format("{0:n0}", hd.TotalValueOfBill) @hd.Currency</td>
                                    <td>@hd.TotalOfQuantity</td>
                                    <td>@String.Format("{0:n0}", hd.Shipfee) @hd.Currency</td>
                                    <td>

                                        <a class="btn btn-indigo waves-effect waves-light" href="/?c=suahoadonbanhang&hoadonId=@hd.Id">Sửa</a>

                                        <button class="btn btn-secondary waves-effect waves-light"
                                                data-toggle="modal" data-mhid=@hd.Id data-target="#confirmModal">
                                            Xóa
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <!-- Table body -->
                    </table>
                    <!-- Table -->

                    @{

                        if (Request["act"] == "timkiem")
                        {
                            if (listHoaDonBanHang.Count == 0)
                            {
                                <div>Không tìm thấy kết quả ứng với từ khóa:  <b>@Request["keyword"]</b></div>
                            }
                            else
                            {
                                <div>Tìm thấy <b>@listHoaDonBanHang.Count hóa đơn bán hàng</b> khớp từ khóa <b>@Request["keyword"]</b></div>
                            }
                        }
                    }
                </div>
            </div>

        </section>
        <!-- Section: Hoverable -->
        <!-- Modal -->
        <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-notify modal-danger" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <p class="heading">Xác nhận việc xóa hóa đơn bán hàng</p>

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="white-text">×</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-3">
                                <p></p>
                                <p class="text-center"><i class="fas fa-shopping-cart fa-4x"></i></p>
                            </div>

                            <div class="col-9">
                                <p>
                                    Việc thực hiện thao tác XÓA MẶT HÀNG làm cho dữ liệu vĩnh viễn mất đi và có thể không khôi phục lại được? Bạn có thực sự muốn XÓA MẶT HÀNG mang MÃ MẶT HÀNG bên dưới?
                                </p>
                                <h2><span class="badge" id="confirmModal-idmh">Mã hóa đơn bán hàng: </span></h2>
                            </div>
                        </div>
                    </div>
                    <form action="/?c=dshoadonbanhang&act=delete" id="frmConfirm" method="post">
                        <input type="hidden" name="idOfProductToDelete" id="idOfProductToDelete" value="" />
                        <div class="modal-footer justify-content-center">
                            <button type="submit" class="btn btn-danger px-3 waves-effect waves-light" id="deleteBtn">XÓA</i></button>
                            <a class="btn btn-outline-danger waves-effect px-3" data-dismiss="modal">Hủy thao tác</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>



    </div>

</main>

<script>

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })

    $("#tableMatHang .btn").on("click", function () {
        let id = $(this).data("mhid");
        $("#confirmModal-idmh").html("Mã hóa đơn bán hàng hàng: " + id);
        $("#idOfProductToDelete").val(id);
    });


    $(document).ready(function () {
        $(`#searchType option[value="${document.cookie}"]`).prop("selected", true);
    });

    $("#searchType").on("change", function () {

        document.cookie = this.value;
        switch (this.value) {
            default:
                $("#keyword").prop("placeholder", "Nhập từ khóa vào đây");
                $("#tip").html("");
        }
        console.log(this.value);
    });
</script>