@using _1988216.MVC.Models;
@using _1988216.MVC.Controllers;
@using _1988216.MVC.Core;

@{
    Layout = Layout = "~/MVC/Views/_Layout.cshtml";
    Page.Title = "Sửa hóa đơn nhập hàng";

    // Redirect if user read directly the file in the MVC Folder
    Lib lib = new Lib();
    if (!lib.isValidUrl())
    {
        Response.Redirect("/?c=suahoadonnhaphang");
    }

    string selected = "selected";

    C_MatHang c_MatHang = new C_MatHang();
    C_HoaDonNhapHang c_HoaDonNhapHang = new C_HoaDonNhapHang();

    List<MatHang> listProduct = c_MatHang.getAllProduct();

    HoaDonNhapHang BillInfoOldToUpdate = c_HoaDonNhapHang.getGoodsReceivedNoteById(Request["hoadonId"]);


    string mess = String.Empty;
    if (IsPost)
    {
        List<ProductWithQuantityAndUnitCost> listProductImported = new List<ProductWithQuantityAndUnitCost>();
        foreach (string key in Request.Form.AllKeys)
        {
            if (key.Contains("productId"))
            {
                ProductWithQuantityAndUnitCost p = new ProductWithQuantityAndUnitCost();
                p.Id = int.Parse(Request[key]);
                string keyAmount = "amount" + key.Replace("productId", "");
                p.Quantity = int.Parse(Request[keyAmount]);
                string keyUnitCost = "unitcost" + key.Replace("productId", "");
                p.UnitCost = int.Parse(Request[keyUnitCost]);

                listProductImported.Add(p);
            }
        }

        if (c_HoaDonNhapHang.modifyGoodsReceivedNote(int.Parse(Request["hoadonId"]), Request["shipperName"], Request["personalId"], Request["shipperAddress"], Request["shipperPhone"], int.Parse(Request["shipfee"]), listProductImported))
        {
            Response.Redirect("/?c=dshoadonnhaphang");
        }
        else
        {

        }
    }
}


<main>
	<div class="container-fluid">
		@mess
		<form method="post" action="/?c=suahoadonnhaphang&hoadonId=@BillInfoOldToUpdate.Id">
			<!-- Section: Inputs -->
			<section class="section card card-cascade mb-5">
				<div class="view view-cascade gradient-card-header blue-gradient">
					<h2 class="h2-responsive mb-0 font-weight-500">Sửa thông tin hóa đơn nhập hàng</h2>
				</div>

                <div class="card-body">
                    <!-- Grid row -->
                    <div class="row">


                        <div class="col-md-6 mb-1">

                            <div class="md-form md-outline">
                                <input type="text" id="shipperName" name="shipperName" class="form-control" value="@BillInfoOldToUpdate.ShipperName">
                                <label for="shipperName" class="active">Tên người giao hàng</label>
                            </div>

                        </div>

                        <div class="col-md-6 mb-1">

                            <div class="md-form md-outline">
                                <input type="text" id="personalId" name="personalId" class="form-control" value="@BillInfoOldToUpdate.PersonalID">
                                <label class="active" for="personalId">Số chứng minh nhân dân</label>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-1">

                            <div class="md-form md-outline">
                                <input type="text" id="shipperAddress" name="shipperAddress" class="form-control" value="@BillInfoOldToUpdate.ShipperAddress">
                                <label for="shipperAddress" class="active">Địa chỉ người giao hàng</label>
                            </div>

                        </div>

                        <div class="col-md-6 mb-1">

                            <div class="md-form md-outline">
                                <input type="text" id="shipperPhone" name="shipperPhone" class="form-control" value="@BillInfoOldToUpdate.ShipperPhone">
                                <label for="shipperPhone" class="active">Số điện thoại người giao hàng</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-6 mb-1">
                            <div class="md-form md-outline">
                                <input type="number" id="shipfee" name="shipfee" class="form-control" value="@BillInfoOldToUpdate.Shipfee">
                                <label class="active" for="shipfee">Phí giao hàng</label>
                            </div>
                        </div>
                    </div>

                    <!-- Grid row -->

                    <div class="container-fluid p-0 m-0" id="listProductImported">
                        <div class="alert alert-info"><b>Lưu ý:</b> Nếu 2 hoặc nhiều hơn sản phẩm cập nhật có cùng Id thì sẽ lấy đơn giá của sản phẩm đầu tiên</div>
                        @{
                            int productCount = 1;
                            foreach (ProductWithQuantityAndUnitCost p in BillInfoOldToUpdate.ProductImported)
                            {
                                <div class="row">
                                    <div class="col-md-4">
                                        <select class="my-select md-form" id="productId_@productCount" name="productId_@productCount" searchable="Tìm kiếm mặt hàng tại đây..">
                                            <option value="" disabled selected>Chọn mặt hàng</option>
                                            @{
                                                foreach (MatHang mh in listProduct)
                                                {
                                                    <option value="@mh.Id" @{ if (mh.Id == p.Id) { @selected } }>@mh.TenMatHang</option>
                                                }
                                            }

                                        </select>
                                    </div>
                                    <div class="col-md-4 mb-1">
                                        <div class="md-form md-outline">
                                            <input type="number" id="amount_@productCount" name="amount_@productCount" class="form-control" value="@p.Quantity">
                                            <label class="active" for="amount_@productCount">Số lượng</label>
                                        </div>
                                    </div>

                                    <div class="col-md-4 mb-1">
                                        <div class="md-form md-outline">
                                            <input type="number" id="unitcost_@productCount" name="unitcost_@productCount" class="form-control" value="@p.UnitCost">
                                            <label class="active" for="unitcost_@productCount">Đơn giá</label>
                                        </div>
                                    </div>

                                </div>

                                productCount++;
                            }
                        }

                    </div>


                    <button type="button" id="addMoreProductBtn" class="btn btn-info waves-effect waves-light">Ấn vào đây để thêm mặt hàng cần thêm</button>


                    <div class="row text-center">
                        <div class="col">
                            <button type="submit" class="btn btn-indigo waves-effect waves-light">Sửa thông tin hóa đơn nhập hàng</button>
                        </div>
                    </div>
                </div>

			</section>
		</form>
		<!-- Section: Inputs -->
	</div>

    <script>
        // Material Select Initialization
        $(document).ready(function () {
            $("#shipperName").focus();



            $("#addMoreProductBtn").on("click", function () {
                let currentAmout = $($("#listProductImported .row")).length;

                            let html = `<div class="row">
                            <div class="col-md-4">
                                <select class="mdb-select md-form" id="productId_${currentAmout + 1}" name="productId_${currentAmout + 1}" searchable="Tìm kiếm mặt hàng tại đây..">
                                    <option value="" disabled selected>Chọn mặt hàng</option>
                                    @{
                                        foreach (MatHang mh in listProduct)
                                        {
                                            <option value="@mh.Id">@mh.TenMatHang</option>
                                        }
                }

                                </select>
                            </div>
                            <div class="col-md-4 mb-1">
                                <div class="md-form md-outline">
                                    <input type="number" id="amount_${currentAmout + 1}" name="amount_${currentAmout + 1}" class="form-control">
                                    <label class="active" for="amount_${currentAmout + 1}">Số lượng</label>
                                </div>
                            </div>

                            <div class="col-md-4 mb-1">
                                <div class="md-form md-outline">
                                    <input type="number" id="unitcost_${currentAmout + 1}" name="unitcost_${currentAmout + 1}" class="form-control">
                                    <label class="active" for="unitcost_${currentAmout + 1}">Đơn giá</label>
                                </div>
                            </div>
                        </div>`;

                $("#listProductImported").append(html);
                $(`#productId_${currentAmout + 1}`).materialSelect();
            });
        });
    </script>
</main>
