@using _1988216.MVC.Models;
@using _1988216.MVC.Controllers;
@using _1988216.MVC.Core;

@{
    Layout = Layout = "~/MVC/Views/_Layout.cshtml";
    Page.Title = "Sửa hóa đơn bán hàng";

    // Redirect if user read directly the file in the MVC Folder
    Lib lib = new Lib();
    if (!lib.isValidUrl())
    {
        Response.Redirect("/?c=suahoadonbanhang");
    }

    string selected = "selected";

    C_MatHang c_MatHang = new C_MatHang();
    C_LoaiHang c_LoaiHang = new C_LoaiHang();
    C_HoaDonBanHang c_HoaDonBanHang = new C_HoaDonBanHang();

    List<LoaiHang> listLoaiHang = c_LoaiHang.getAllCategory();
    List<MatHang> listProduct = c_MatHang.getAllProduct();

    HoaDonBanHang BillInfoOldToUpdate = c_HoaDonBanHang.getBillOfSaleById(Request["hoadonId"]);


    string mess = String.Empty;
    if (IsPost)
    {
        List<ProductWithQuantity> listProductSold = new List<ProductWithQuantity>();
        foreach (string key in Request.Form.AllKeys)
        {
            if (key.Contains("productId"))
            {
                ProductWithQuantity p = new ProductWithQuantity();
                p.Id = int.Parse(Request[key]);
                string keyAmount = "amount" + key.Replace("productId", "");
                p.Quantity = int.Parse(Request[keyAmount]);
                listProductSold.Add(p);
            }
        }

        if (c_HoaDonBanHang.modifyBillOfSale(int.Parse(Request["hoadonId"]),Request["customerName"], Request["dob"], Request["address"], Request["billingAddress"], Request["phone"], Request["paymentMethod"], int.Parse(Request["shipfee"]), listProductSold))
        {
            Response.Redirect("/?c=dshoadonbanhang");
        }
        else
        {

        }
    }
}


<main>
	<div class="container-fluid">
		@mess
		<form method="post" action="/?c=suahoadonbanhang&hoadonId=@BillInfoOldToUpdate.Id">
			<!-- Section: Inputs -->
			<section class="section card card-cascade mb-5">
				<div class="view view-cascade gradient-card-header blue-gradient">
					<h2 class="h2-responsive mb-0 font-weight-500">Sửa thông tin hóa đơn bán hàng</h2>
				</div>

                <div class="card-body">

                    <h5></h5>

                    <!-- Grid row -->
                    <div class="row">


                        <div class="col-md-6 mb-1">

                            <div class="md-form md-outline">
                                <input type="text" id="customerName" name="customerName" class="form-control" value="@BillInfoOldToUpdate.CustomerName">
                                <label for="customerName" class="active">Tên khách hàng</label>
                            </div>

                        </div>

                        <div class="col-md-6 mb-1">

                            <div class="md-form md-outline">
                                <input type="date" id="dob" name="dob" class="form-control" value="@BillInfoOldToUpdate.Dob">
                                <label class="active" for="dob">Ngày tháng năm sinh</label>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-1">

                            <div class="md-form md-outline">
                                <input type="text" id="address" name="address" class="form-control" value="@BillInfoOldToUpdate.Address">
                                <label for="address" class="active">Địa chỉ</label>
                            </div>

                        </div>

                        <div class="col-md-6 mb-1">

                            <div class="md-form md-outline">
                                <input type="text" id="billingAddress" name="billingAddress" class="form-control" value="@BillInfoOldToUpdate.BillingAddress">
                                <label for="billingAddress" class="active">Địa chỉ giao hàng</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-1">

                            <div class="md-form md-outline">
                                <input type="number" id="phone" name="phone" class="form-control" value="@BillInfoOldToUpdate.Phone">
                                <label for="phone" class="active">Số điện thoại</label>
                            </div>

                        </div>

                        <div class="col-md-6 mb-1">

                            <select class="mdb-select md-form" id="paymentMethod" name="paymentMethod" searchable="Tìm kiếm hình thức thanh toán tại đây..">
                                <option value="visa" @{if (BillInfoOldToUpdate.PaymentMethod == "visa") {@selected; } }>Visa</option>
                                <option value="mastercard" @{if (BillInfoOldToUpdate.PaymentMethod == "mastercard") {@selected; } }>Master Card</option>
                                <option value="atm" @{if (BillInfoOldToUpdate.PaymentMethod == "atm") {@selected; } }>ATM Nội địa</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">

                        <!-- Grid column -->
                        <div class="col-md-6 mb-1">

                            <div class="md-form md-outline">
                                <input type="number" id="shipfee" name="shipfee" class="form-control" value=@BillInfoOldToUpdate.Shipfee>
                                <label class="active" for="shipfee">Phí giao hàng</label>
                            </div>

                        </div>
                        <!-- Grid column -->
                        <!-- Grid column -->

                    </div>
                    <!-- Grid row -->

                    <div class="container-fluid p-0 m-0" id="listProductSold">

                        @{
                            int productCount = 1;
                            foreach (ProductWithQuantity p in BillInfoOldToUpdate.ProductSold)
                            {
                                <div class="row">
                                    <div class="col-md-6 align-self-center">
                                        <select class="my-select" id="productId_@productCount " name="productId_@productCount" searchable="Tìm kiếm mặt hàng tại đây..">
                                            <option value="" disabled selected>Chọn mặt hàng</option>
                                            @{
                                                foreach (MatHang mh in listProduct)
                                                {
                                                    <option value="@mh.Id" @{ if (mh.Id == p.Id) { @selected } }>
                                                        @mh.TenMatHang
                                                </option>
                                            }
                                            }

                                        </select>
                                    </div>
                                    <div class="col-md-6 mb-1">
                                        <div class="md-form md-outline">
                                            <input type="number" id="amount_@productCount" name="amount_@productCount" class="form-control" value="@p.Quantity">
                                            <label class="active" for="amount_@productCount">Số lượng</label>
                                        </div>
                                    </div>
                                </div>

                                productCount++;
                            }
                        }

                    </div>


                    <button type="button" id="addMoreProductBtn"  class="btn btn-info waves-effect waves-light">Ấn vào đây để thêm mặt hàng cần thêm</button>


                    <div class="row text-center">
                        <div class="col">
                            <button type="submit" class="btn btn-indigo waves-effect waves-light">Cập nhật thông tin hóa đơn bán hàng</button>
                        </div>
                    </div>
                </div>

			</section>
		</form>
		<!-- Section: Inputs -->
	</div>

    <script>
        // Material Select Initialization
        $(document).ready(function () {
            $("#customerName").focus();



            $("#addMoreProductBtn").on("click", function () {
                            let currentAmout = $($("#listProductSold .row")).length;

                            let html = `<div class="row">
                            <div class="col-md-6">
                                <select class="mdb-select md-form" id="productId_${currentAmout + 1}" name="productId_${currentAmout + 1}" searchable="Tìm kiếm mặt hàng tại đây..">
                                    <option value="" disabled selected>Chọn mặt hàng</option>
                                    @{
                                        foreach (MatHang mh in listProduct)
                                        {
                                            <option value="@mh.Id">@mh.TenMatHang</option>
                                        }
                }

                                </select>
                            </div>
                            <div class="col-md-6 mb-1">
                                <div class="md-form md-outline">
                                    <input type="number" id="amount_${currentAmout + 1}" name="amount_${currentAmout + 1}" class="form-control">
                                    <label class="active" for="amount_${currentAmout + 1}">Số lượng</label>
                                </div>
                            </div>
                        </div>`;

                $("#listProductSold").append(html);
                $(`#productId_${currentAmout + 1}`).materialSelect();
            });
        });
    </script>
</main>
